@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url("src/background.png");
    background-size: 200% 200%;
}

section {
    height: 100vh;
    width: 100vh;
}

article {
    height: 100vh;
    width: 100vh;
}

.about {
    max-width: 550px;
    margin: 60px 100px;
}

.about h2 {
    color: rgb(206, 206, 206);
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.about h2 span {
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
}

.about p {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    color: white;
}

.about img {
    position: absolute;
    width: 50%;
    height: auto;
    margin-left: 550px;
}

.about .about-btn {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about .about-btn:hover {
    background: #ffffff;
    color: grey;
    opacity: 0.5;
}

.info {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.info h2 {
    text-align: center;
}

.info img, .info video {
    width: 50%; /* Vous pouvez ajuster cette valeur selon vos besoins */
    max-width: 300px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    display: inline-block;
    vertical-align: top;
}

.info video {
    max-height: 100%; /* Pour s'assurer que la vidéo ne dépasse pas la hauteur de l'image */
}


.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}